@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Poppins&display=swap');
body{
  background-color: rgba(245, 229, 209, 0.452);
}
.card-flex{
  display: flex;
  justify-content: center;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(194, 194, 194);
  width: 40%;
  margin: 15% auto;
  
}
.image-area{
  padding: 40px 30px;
}
.image-area img{
  width: 70%;
}
.self-info{
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  padding-top: 90px;
  padding-right: 80px;
}